<% provide(:title, "edit trips") %>

<h1>Update your profile</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
	
	<%= render 'edform' %>
	
	</div>
 
<%= link_to 'Back', root_path %>

</div>